<template>
  <div class="container-fluid m-0 p-0">
    <div id="home-page" class="bg-img p-4">
      <div class="container-fluid pt-3">
        <div class="row pb-5">
          <div class="col-lg-6 pt-4 my-auto">
            <div class="text-center mb-3 d-block d-lg-none">
              <h1 class="display-3">{{ title }}</h1>
              <h3>View the State Parks!</h3>
            </div>
            <img id="iphone" src="../assets/phone1.png" alt="phone" />
          </div>

          <div class="col-lg-6 my-auto pt-4">
            <div class="text-center mb-3 d-none d-lg-block">
              <h1 class="display-3">{{ title }}</h1>
              <h3>View the State Parks!</h3>
            </div>

            <div class="border p-3 p-md-5 bg-white rounded shadow">
              <h2>Coming Soon</h2>

              <form action="">
                <div class="form-group">
                  <label for="emailsignup"
                    >Reserve your account and we will contact you when we are
                    live!</label
                  >
                  <input
                    id="emailSignup"
                    placeholder="Enter Email"
                    class="form-control"
                  />
                  <small id="emailHelp" class="form-text text-muted mt-2"
                    >We'll never share your email address</small
                  >
                  <button type="sumbit" class="btn mt-3 join">
                    Join Waiting List
                  </button>
                </div>
              </form>
            </div>

            <div id="available" class="p-2">
              <h4 class="text-center mb-2 mt-3 text-light">
                Available On
              </h4>
              <div class="row">
                <div class="col my-auto">
                  <img
                    src="../assets/apple.png"
                    alt=""
                    class="float-right img-fluid apple_store_img"
                  />
                </div>
                <div class="col myauto">
                  <img
                    src="../assets/google.png"
                    alt=""
                    class="float-left img-fluid google_store_img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="about-page" class="bg-light p-3 p-md-5">
        <div class="row">
            <div class="col-lg">
                <img src="../assets/icons/book.png" alt="" height="120" class="m-4">
                <h5 class="ml-md-4 mr-md-4">Plan your next visit to your nearest state park or take a trip
                  to see one. We make it easy to break your expenses down by category.
                </h5>
            </div>
            <div class="col-lg">
                <img src="../assets/icons/food.png" alt="" height="120" class="m-4">
                <h5 class="ml-md-4 mr-md-4">Use the app to track down your favorite resturants using the in app
                  map feature! It makes it easy to navigate through the area and find what is nearby.
                </h5>
            </div>
            <div class="col-lg">
                <img src="../assets/icons/vehicle.png" alt="" height="120" class="m-4">
                <h5 class="ml-md-4 mr-md-4">Find out where the best trails are and how to get there with the in app feature!
                  You can also leave reviews to let others know if the directions helped you reach
                  where you were going!
                </h5>
            </div>
        </div>
    </div>

    <div id="contact-page" class="bg-info p-4">
      <div class="row justify-content-center mt-3 mb-3">
        <div class="col-lg-4">
          <h2>Have Any Questions?</h2>
          <p>Contact us by filling out the information below</p>
          <form>
            <div class="form-group text-left">
              <input type="email" class="form-control" placeholder="Enter your email">
              <textarea class="form-control mt-3" placeholder="Enter your message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div>
      </div>
    </div>

    <div id="footer-page" class="p-4">
      <footer class="text-light p-4">
        <a href="#" target="_blank" class="text-warning">Build This App</a> |
        <a href="#" class="text-warning">Privacy Policy</a>
        <br>
        <small>2020, StateParks.app</small>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "State Parks App"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#home-page {
  background-color: rgb(86, 164, 228);
  background: url("../assets/yosemite.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#iphone {
  max-height: 80vh;
}
.apple_store_img {
  max-height: 55px;
}
.google_store_img {
  max-height: 80px;
}
.spacer {
  height: 20px;
  width: 2px;
  background-color: yellow;
}
.join {
  background-color: rgb(42, 102, 82);
  color: white;
}
#footer-page {
  background-color: #252223;
}
h1 {
  color: rgb(42, 102, 82);
}
h3 {
  color: rgb(42, 102, 82);
}

</style>
